 @media screen 
  and (min-width: 1201px)  { 

    /*"Homers Night Out"*/
    .homer {width:166.5px; height:125px; background:url(homer.jpg) 0 0px;}

}

@media screen 
  and (max-width: 1200px) 
  and (min-width: 1101px)  { 
  	
     /*"Walking to Moe's"*/
    .homer {width:166.5px; height:125px; background:url(homer.jpg) 166.5 0px;}
}

@media screen 
  and (max-width: 1100px) 
  and (min-width: 1001px)  { 

    /*"Hmmm"*/
  	.homer {width:166.5px; height:125px; background:url(homer.jpg) 0 125px;}
}

@media screen 
  and (max-width: 1000px) 
  and (min-width: 901px) { 

    /*"Grabbing Beer"*/
  	.homer {width:166.5px; height:125px; background:url(homer.jpg) 166.5 125px;}
}

@media screen 
  and (max-width: 900px) 
  and (min-width: 801px) { 
    
    /*"Scene missing #1"*/
    .homer {width:166.5px; height:125px; background:url(homer.jpg) 0 250px;}
}

@media screen 
  and (max-width: 800px) 
  and (min-width: 701px) { 
    
    /*"Merry Go Round"*/
    .homer {width:166.5px; height:125px; background:url(homer.jpg) 166.5 250px;}
}

@media screen 
  and (max-width: 700px) 
  and (min-width: 601px) { 
    
    /*"Scene Missing #2"*/
    .homer {width:166.5px; height:125px; background:url(homer.jpg) 0 375px;}
}

@media screen 
  and (max-width: 600px)  { 
    
    /*"The End"*/
     .homer {width:166.5px; height:125px; background:url(xhomer.jpg) 166.5 375px;}
}